<template>
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light">
                <div class="portlet-title">
                <div class="caption">
                    
                    <span class="caption-subject font-gray sbold uppercase"><i class="glyphicon glyphicon-tint"></i> City List</span>
                </div>
                <div class="actions">
                    <div class="btn-group" v-if="add_permission_check">
                        <button @click="NewCity" id="sample_editable_1_new" class="btn sbold green"><i class="fa fa-plus"></i> Add City</button>
                    </div>
                </div>
                </div>
                <div class="portlet-body">
                    <v-client-table :data="dataTableObj.TableData" :columns="dataTableObj.Columns" :options="dataTableObj.Options">
                        <template slot="Action" slot-scope="props">
                            <a v-if="edit_permission_check" class="btn btn-xs blue" title="Edit" data-toggle="tooltip" @click="EditCity(props.row.id)"><i class="fa fa-edit"></i></a>
                        </template>
                    </v-client-table>                   
                </div>
            </div>            
            <div class="clear-fix"></div>
        </div>

        <modal :pModal="modal">
            <div class="row">                
                <div class="form-group col-md-6">
                    <label>City Name</label><span class="l-error">*</span>
                    <input v-model="City.city_name" type="text" class="form-control" name="city_name" v-validate="'required'"/>
                    <span v-if="errors.has('city_name')" class="v-error">The city name field is required.</span>
                </div>
                <div class="form-group col-md-6">
                    <label>State</label><span class="l-error">*</span>             
                    <select class="form-control select2" v-model="City.state_id" name="state_id"  v-validate="'required'">
                        <option value="">---- Select State -----</option>
                        <option v-for="st in stateList" :key="st.id" :value="st.id">{{st.state_name}}</option>
                    </select>
                    <span v-if="errors.has('state_id')" class="v-error">The state field is required.</span>                                       
                </div> 
             </div>
            <div class="row">
                <div class="col-md-12">                    
                    <div class="text-right">
                    <div class="actions">
                        <div class="btn-group">
                            <vue-ladda  @click="SaveCity" class="btn btn green-meadow" :loading="loading" :data-style="dataStyle" :progress="progress"><i class="fa fa-floppy-o"></i> Save</vue-ladda>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </modal> 
    </div>
</template>   

<script>
  export default {
    layout(ctx) {
        return 'default'
    },
    middleware: 'authenticated',

    mounted() {
      this.LoadCities();
      this.LoadStateList();
    },

    data() {
        return {     
            add_permission_check: this.$Helpers.permission_check('cities/add', this.$store.state.permissions),
            edit_permission_check: this.$Helpers.permission_check('cities/edit', this.$store.state.permissions),
            loading: false,
            dataStyle: 'expand-left',
            progress: 0,   
            modal: {
                show: false,
                title: '',
                size: 'md'
            },
            City: {},
            stateList: {},
            dataTableObj: {
                Columns: ['city_name', 'state_name', 'Action'],
                TableData: [],
                Options: {
                    headings: {
                        city_name: 'City Name',
                        state_name: 'State',
                        Action: 'Action',
                    },
                    columnsClasses: {
                        Action: 'tbl-action size-30'
                    },
                    sortable: ['city_name', 'state_name']
                }
            }
        }
    },

    methods: {
        LoadCities() {
            this.$Helpers.Get('cities', {}, this.$store.state.token).then((response) => {               
               this.dataTableObj.TableData = response             
            })
        },
        NewCity() {
            this.errors.clear()
            this.modal = {
                show: true,
                title: 'New City',
                size: 'md'
            }          
            this.City = {
                id: 0,
                state_id: ''
            }  
        },        
        EditCity(id) {
            this.City.id = id
            this.$Helpers.Get('cities/' + id, { }, this.$store.state.token).then((response) => {                
                this.City = response

                this.errors.clear()
                this.modal = {
                    show: true,
                    title: 'Update City',
                    size: 'md'
                }
            })
        },
        SaveCity() {
            this.$validator.validateAll().then((result) => {
                if (result) {
                    this.loading = true
                    this.$Helpers.Post('cities', { City: this.City }, this.$store.state.token).then((response) => {
                        this.modal = {
                            show: false,
                            title: '',
                            size: 'md'
                        }
                        this.LoadCities()
                        this.loading = false
                    })
                }
            })
        },
        LoadStateList() {
            this.$Helpers.Get('states/list', { }, this.$store.state.token).then((response) => {                
                this.stateList = response
            })
        }
    }
}
</script> 