<template>
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light">
                <div class="portlet-title">
                <div class="caption">
                    
                    <span class="caption-subject font-gray sbold uppercase"><i class="glyphicon glyphicon-map-marker"></i> State List</span>
                </div>
                <div class="actions">
                    <div class="btn-group" v-if="add_permission_check">
                        <button @click="NewState" id="sample_editable_1_new" class="btn sbold green"><i class="fa fa-plus"></i> Add State</button>
                    </div>
                </div>
                </div>
                <div class="portlet-body">
                    <v-client-table :data="dataTableObj.TableData" :columns="dataTableObj.Columns" :options="dataTableObj.Options">
                        <template slot="Action" slot-scope="props">
                            <a v-if="edit_permission_check" class="btn btn-xs blue" title="Edit" data-toggle="tooltip" @click="EditState(props.row.id)"><i class="fa fa-edit"></i></a>
                        </template>
                    </v-client-table>                   
                </div>
            </div>            
            <div class="clear-fix"></div>
        </div>

        <modal :pModal="modal">
            <div class="row">                
                <div class="form-group col-md-6">
                    <label>State Name</label><span class="l-error">*</span>
                    <input v-model="State.state_name" type="text" class="form-control" name="state_name" v-validate="'required'"/>
                    <span v-if="errors.has('state_name')" class="v-error">The state name field is required.</span>
                </div>
                <div class="form-group col-md-6">
                    <label>Code</label>
                    <input v-model="State.state_code" type="text" class="form-control" name="state_code"/>                   
                </div>
             </div>
            <div class="row">
                <div class="col-md-12">                    
                    <div class="text-right">
                    <div class="actions">
                        <div class="btn-group">
                            <vue-ladda  @click="SaveState" class="btn btn green-meadow" :loading="loading" :data-style="dataStyle" :progress="progress"><i class="fa fa-floppy-o"></i> Save</vue-ladda>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </modal> 
    </div>
</template>   

<script>
  export default {
    layout(ctx) {
        return 'default'
    },
    middleware: 'authenticated',

    mounted() {
      this.LoadStates();
    },

    data() {
        return {     
            add_permission_check: this.$Helpers.permission_check('states/add', this.$store.state.permissions),
            edit_permission_check: this.$Helpers.permission_check('states/edit', this.$store.state.permissions),
            loading: false,
            dataStyle: 'expand-left',
            progress: 0,   
            modal: {
                show: false,
                title: '',
                size: 'md'
            },
            State: {},
            dataTableObj: {
                Columns: ['state_name', 'state_code', 'country_name', 'Action'],
                TableData: [],
                Options: {
                    headings: {
                        state_name: 'State Name',
                        state_code: 'Code',
                        country_name: 'Country',
                        Action: 'Action',
                    },
                    columnsClasses: {
                        Action: 'tbl-action size-30'
                    },
                    sortable: ['state_name', 'country_name']
                }
            }
        }
    },

    methods: {
        LoadStates() {
            this.$Helpers.Get('states', {}, this.$store.state.token).then((response) => {               
               this.dataTableObj.TableData = response             
            })
        },
        NewState() {
            this.errors.clear()
            this.modal = {
                show: true,
                title: 'New State',
                size: 'md'
            }          
            this.State = {
                id: 0
            }  
        },        
        EditState(id) {
            this.State.id = id
            this.$Helpers.Get('states/' + id, { }, this.$store.state.token).then((response) => {                
                this.State = response

                this.errors.clear()
                this.modal = {
                    show: true,
                    title: 'Update State',
                    size: 'md'
                }
            })
        },
        SaveState() {
            this.$validator.validateAll().then((result) => {
                if (result) {
                    this.loading = true
                    this.$Helpers.Post('states', { State: this.State }, this.$store.state.token).then((response) => {
                        this.modal = {
                            show: false,
                            title: '',
                            size: 'md'
                        }
                        this.LoadStates()
                        this.loading = false
                    })
                }
            })
        }
    }
}
</script> 