<template>
  <div class="page-header navbar navbar-fixed-top">
    <div class="page-header-inner">
      <div class="page-logo">
        <a href="/">
          <img src="" alt="Talenthunt" class="logo-default">
        </a>
        <div class="menu-toggler sidebar-toggler">
            <span></span>
        </div>
      </div>
      <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse"> </a>

      <div class="top-menu">
        <ul class="nav navbar-nav pull-right">
          <li class="dropdown dropdown-user dropdown-dark">
            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
              <span class="username username-hide-on-mobile"> {{ $store.state.user.email }} </span>
              <img alt="" class="img-circle" src="/images/user.jpg">
              &nbsp;&nbsp;<i class="fa fa-power-off"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-default">
              <li>
                <nuxt-link to="/profile">
                  <i class="icon-user"></i> My Profile
                </nuxt-link>
              </li>
              <li>
                <a href="javascript:;" @click="logOut">
                  <i class="icon-key"></i> Log Out
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
  export default{
    methods:{
      logOut() {
        this.$store.commit('ClearIdentity')
        this.$router.push('/login')
      }
    }
  }

</script>
