<template>
  <div class="page-sidebar-wrapper">    
    <div class="page-sidebar navbar-collapse collapse">     
      <ul class="page-sidebar-menu page-sidebar-menu-hover-submenu" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
        <li class="nav-item">
          <nuxt-link to="/" exact>
            <i class="icon-home"></i>
            <span class="title">Dashboard</span>
            <span class="selected"></span>
            <span class="arrow"></span>
          </nuxt-link>          
        </li>
        <li class="nav-item" >
              <nuxt-link to="/addresses">
                <i class="icon-user"></i>
                <span class="title">Addresses</span>
                <span class="arrow"></span>
              </nuxt-link>
        </li>
        <li class="nav-item" >
          <nuxt-link to="/recruiters">
            <i class="icon-user"></i>
            <span class="title">Recruiters</span>
            <span class="arrow"></span>
          </nuxt-link>
        </li>
        <li class="nav-item" v-if="this.$Helpers.permission_check('users', this.$store.state.permissions)">
          <nuxt-link to="/users">
            <i class="icon-user"></i>
            <span class="title">Users</span>
            <span class="arrow"></span>
          </nuxt-link>
        </li>
        <li class="nav-item" >
          <nuxt-link to="/educations">
            <i class="icon-user"></i>
            <span class="title">Educations</span>
            <span class="arrow"></span>
          </nuxt-link>
        </li>
        <li class="nav-item" >
          <nuxt-link to="/resume">
            <i class="icon-user"></i>
            <span class="title">Resume</span>
            <span class="arrow"></span>
          </nuxt-link>
        </li>

        <li class="nav-item" >
          <nuxt-link to="/talents">
            <i class="icon-user"></i>
            <span class="title">Talents</span>
            <span class="arrow"></span>
          </nuxt-link>
        </li>

        <li class="nav-item">
          <a href="javascript:;" class="nav-link nav-toggle">
            <i class="icon-map"></i>
            <span class="title">Filter Talents</span>
            <span class="arrow"></span>
          </a>
          <ul class="sub-menu" style="display: none;">
            <li class="nav-item">
              <nuxt-link to="/filter_talents/1" class="nav-link ">
                <i class="glyphicon glyphicon-map-marker"></i>
                <span class="title">Bookmark</span>
                <span class="arrow"></span>
              </nuxt-link>
            </li>
            <li class="nav-item">
              <nuxt-link to="/filter_talents/5" class="nav-link ">
                <i class="glyphicon glyphicon-tint"></i>
                <span class="title">Hire</span>
                <span class="arrow"></span>
              </nuxt-link>
            </li>
            <li class="nav-item">
              <nuxt-link to="/filter_talents/3" class="nav-link ">
                <i class="glyphicon glyphicon-map-marker"></i>
                <span class="title">Interview</span>
                <span class="arrow"></span>
              </nuxt-link>
            </li>
            <li class="nav-item">
              <nuxt-link to="/filter_talents/4" class="nav-link ">
                <i class="glyphicon glyphicon-tint"></i>
                <span class="title">Reject</span>
                <span class="arrow"></span>
              </nuxt-link>
            </li>
          </ul>
        </li>
        <!--commit check-->
        <li class="nav-item" v-if="this.$Helpers.permission_check('locations', this.$store.state.permissions)">
          <a href="javascript:;" class="nav-link nav-toggle">
            <i class="icon-map"></i>
            <span class="title">Location</span>
            <span class="arrow"></span>
          </a>
          <ul class="sub-menu" style="display: none;">
              <li class="nav-item"  v-if="this.$Helpers.permission_check('states/list', this.$store.state.permissions)">
                <nuxt-link to="/states" class="nav-link ">
                    <i class="glyphicon glyphicon-map-marker"></i>
                  <span class="title">State</span>
                  <span class="arrow"></span>
                </nuxt-link>
              </li>
              <li class="nav-item" v-if="this.$Helpers.permission_check('cities/list', this.$store.state.permissions)">
                <nuxt-link to="/cities" class="nav-link ">
                    <i class="glyphicon glyphicon-tint"></i>
                  <span class="title">City</span>
                  <span class="arrow"></span>
                </nuxt-link>
              </li>
          </ul>          
        </li>
      </ul>
      <!-- END SIDEBAR MENU -->
    </div>
    <!-- END SIDEBAR -->
  </div>
</template>


