<template>
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption">
                        <span class="caption-subject font-gray sbold uppercase"><i class="icon-address"></i> Address</span>
                    </div>
                    <div class="actions">
                        <!--send button to the right corner-->
                        <div class="btn-group">
                            <!--button size standard-->
                            <button @click="NewAddress" class="btn sbold green">
                               <i class="fa fa-plus"></i> Add Address
                            </button>
                        </div>
                    </div>
                </div>
                <div class="portlet-body">
                    <v-client-table :data="dataTableObj.TableData" :columns="dataTableObj.Columns"
                                    :options="dataTableObj.Options">
                    <template slot="action" slot-scope="props">
                        <a class="btn btn-xs blue" title="Edit" data-toggle="tooltip" @click="EditAddress(props.row.id)">
                            <i class="fa fa-edit"></i>
                        </a>
                        <a class="btn btn-xs green" title="View" data-toggle="tooltip" @click="ViewAddress(props.row.id)">
                            <i class="fa fa-eye"></i>
                        </a>
                    </template>
                    </v-client-table>
                </div>
            </div>
        </div>
        <modal :pModal="modal">
            <label>City</label><span class="l-error">*</span>
            <input v-model="address.city" type="text" class="form-control"/>
            <label>Talent Id</label><span class="l-error">*</span>
            <input v-model="address.talent" type="text" class="form-control"/>
            <vue-ladda v-if="share_modals==1" @click="SaveAddress" class="btn btn green-meadow" :loading="loading" :progress="progress" :data-style="dataStyle">
                Save
            </vue-ladda>
            <vue-ladda v-if="share_modals==0" @click="UpdateAddress(address.id)" class="btn btn green-meadow" :loading="loading" :progress="progress" :data-style="dataStyle">
                Update
            </vue-ladda>
        </modal>
        <modal :pModal="viewModal">
            {{address.city}}
        </modal>
    </div>
</template>
<script>
    export default{
        layout(ctx){
            return 'default'
        },
        middleware:'authenticated',
        mounted()
        {
            this.LoadAddress()
        },
        data()
        {
            return{
                share_modals:0,
                loading: false,
                dataStyle: 'expand-left',
                progress: 0,
                modal:{
                    show:false,
                    title:'',
                    size:'sm'
                },
                viewModal:{
                    show:false,
                    title:'',
                    size:'sm'
                },
                address:{},
                dataTableObj:{
                    Columns:['id','city','talent','action'],
                    TableData:[],
                    Options:{
                        headings:{
                            id:'Id',
                            city:'City',
                            talent:'Talent Id',
                            action:'Action'
                        },
                        columnsClasses: {
                            Action: 'tbl-action size-30'
                        },
                        sortable: ['city', 'talent']
                    }
                }
            }
        },
        methods:{
            LoadAddress()
            {
                this.$Helpers.Get('addresses', {}, {}).then((response) => {
                    this.dataTableObj.TableData = response
            })
            },
            ViewAddress(id)
            {
                this.$Helpers.Get('addresses/'+id, {}, {}).then((response) => {
                    console.log(response);
                    this.address.city=response.city
                    this.viewModal={
                        show:true,
                        title:'Address Details',
                        size:'lg'
                }
            })
            },
            NewAddress()
            {
                this.share_modals=1,
                this.modal={
                    show:true,
                    title:'Add Address',
                    size:'lg'
                }
            },
            SaveAddress()
            {
                console.log(this.address)
                this.$validator.validateAll().then((result) => {
                    if (result) {
                        this.loading = true
                        this.$Helpers.Post('addresses/', {
                            city: this.address.city,
                            talent:this.address.talent
                        }, {}).then((response) => {
                            this.modal = {
                            show: false,
                            title: '',
                            size: ''
                        }
                        this.LoadAddress()
                        this.loading = false
                    },
                        (err)=> {
                            console.log(this.address)
                            //show pop up
                            this.modal.show = true;
                            this.modal.title = '';
                            this.modal.size = 'lg';
                        }
                    )
                    }
                })
            },
            EditAddress(id)
            {
                this.share_modals=0
                this.$Helpers.Get('addresses/'+id, {}, {}).then((response) => {
                    console.log(response)
                this.address = response
                this.address.id = response.id
                this.address.city = response.city
                this.address.talent=response.talent
                    this.modal={
                        show:true,
                        title:'Edit Address',
                        size:'lg'
                    }
            })
            },
            UpdateAddress(id)
            {
                console.log(this.address)
                this.$validator.validateAll().then((result) => {
                    if (result) {
                        this.loading = true
                        this.$Helpers.Put('addresses/'+id+'/', {
                            id:this.address.id,
                            city: this.address.city,
                            talent:this.address.talent
                        }, {}).then((response) => {
                            this.modal = {
                            show: false,
                            title: '',
                            size: ''
                        }
                        this.LoadAddress()
                        this.loading = false
                    },
                        (err)=> {
                            console.log(this.address)
                            //show pop up
                            this.modal.show = true;
                            this.modal.title = '';
                            this.modal.size = 'lg';
                        }
                    )
                    }
                })
            }
        }
    }
</script>