<template>
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption">
                        <span class="caption-subject font-gray sbold uppercase"><i
                                class="icon-address"></i> Talents</span>
                    </div>
                </div>
                <div class="portlet-body">
                    <v-client-table :data="dataTableObj.TableData" :columns="dataTableObj.Columns"
                                    :options="dataTableObj.Options">
                        <template slot="username" slot-scope="props">
                            {{props.row.user.username}}
                        </template>
                        <template slot="email" slot-scope="props">
                            {{props.row.user.email}}
                        </template>
                        <template slot="expertise_in" slot-scope="props">
                            <ul>
                                <li v-for="(expertise,index) in props.row.expertises" :key="index">
                                    {{expertise.expertise_in}}
                                </li>
                            </ul>
                        </template>
                        <template slot="city" slot-scope="props">
                            <ul>
                                <li v-for="(address,index) in props.row.addresses" :key="index">
                                    {{address.city}}
                                </li>
                            </ul>
                        </template>
                        <template slot="sex" slot-scope="props">
                            {{props.row.sex.gender}}
                        </template>
                        <template slot="experience" slot-scope="props">
                            {{props.row.experience}} years
                        </template>
                        <template slot="action" slot-scope="props">
                            <a @click="ViewTalent(props.row.id)" class="btn btn-xs green" title="View"
                               data-toggle="tooltip">
                                <i class="fa fa-eye"></i>
                            </a>
                        </template>
                    </v-client-table>
                </div>
            </div>
        </div>
        <modal :pModal="viewModal">

            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">About</h3>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="form-group col-md-4">
                        <label>Username</label><br>
                        {{talents.username}}
                    </div>
                    <div class="form-group col-md-4">
                        <label>First Name</label><br>
                        {{talents.first_name}}
                    </div>
                    <div class="form-group col-md-4">
                        <label>Last Name</label><br>
                        {{talents.last_name}}
                    </div>
                    <div class="form-group col-md-4">
                        <label>Event</label><br>
                        {{talents.recruiter_event}}
                    </div>
                    <div class="form-group col-md-4">
                        <label>Email</label><br>
                        {{talents.email}}
                    </div>
                    <div class="form-group col-md-4">
                        <label>Birth Date</label><br>
                        {{talents.birthdate}}
                    </div>
                    <div class="form-group col-md-4">
                        <label>Marital Status</label><br>
                        {{talents.marital_status}}
                    </div>
                    <div class="form-group col-md-4">
                        <label>Mobile</label><br>
                        {{talents.mobile}}
                    </div>
                </div>
            </div>
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">Basic Info</h3>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="form-group col-md-4">
                        <label>Expertise</label><br>
                        <ul>
                            <li v-for="(expertise,index) in talents.expertise_in" :key="index">
                                {{expertise.expertise_in}}
                            </li>
                        </ul>
                    </div>
                    <div class="form-group col-md-4">
                        <label>City</label><br>
                        <ul>
                            <li v-for="(address,index) in talents.city" :key="index">
                                {{address.city}}
                            </li>
                        </ul>
                    </div>
                    <div class="form-group col-md-4">
                        <label>Sex</label><br>
                        {{talents.sex}}
                    </div>
                    <div class="form-group col-md-4">
                        <label>Experience</label><br>
                        {{talents.experience}} years
                    </div>
                </div>
            </div>
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">Events</h3>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div v-for="(events,index) in recruiter_events" :key="index">
                        <div class="form-group col-md-4">
                            <div class="btn-group">
                                <!--button size standard-->
                                <!--<button @click="SelectEvent(talents.id,events.id)" class="btn sbold green">-->
                                <div v-if="events.name=='Bookmark'">
                                    <div v-if="talents.is_unchanged==true">
                                        <button @click="SelectEvent(talents.id,events.id)" class="btn sbold green">
                                            Unbookmark
                                        </button>
                                    </div>
                                    <div v-else>
                                        <button @click="SelectEvent(talents.id,events.id)" class="btn sbold green">
                                            Bookmark
                                        </button>
                                    </div>
                                </div>
                                <div v-else>
                                    <button @click="SelectEvent(talents.id,events.id)" class="btn sbold green">{{events.name}}</button>
                                </div>
                                <!--</button>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </modal>
    </div>
</template>
<script>
    import Datepicker from 'vuejs-datepicker';

    export default{
        components: {
            Datepicker
        },
        layout(ctx){
            return 'default'
        },
        middleware: 'authenticated',
        mounted()
        {
            this.LoadTalent()
            this.LoadEvent()
        },
        data()
        {
            return {
                share_modals: 0,
                loading: false,
                unchanged:'',
                dataStyle: 'expand-left',
                progress: 0,
                modal: {
                    show: false,
                    title: '',
                    size: 'sm'
                },
                viewModal: {
                    show: false,
                    title: '',
                    size: 'sm'
                },
                talents: {},
                recruiter_events: {},
                dataTableObj: {
                    Columns: ['id', 'username', 'email', 'expertise_in', 'city', 'sex', 'experience', 'action'],
                    TableData: [],
                    Options: {
                        headings: {
                            id: 'Id',
                            username: 'Username',
                            email: 'Email',
                            expertise_in: 'Expertise',
                            city: 'City',
                            sex: 'Sex',
                            experience: 'Experience',
                            action: 'Action'
                        },
                        columnsClasses: {
                            Action: 'tbl-action size-30'
                        },
                        sortable: ['username', 'expertise_in']
                    }
                }
            }
        },
        methods: {
            LoadTalent()
            {
                this.$Helpers.Get('talents', {}, {}).then((response) => {
                    this.dataTableObj.TableData = response
                })
            },
            LoadEvent()
            {
                this.$Helpers.Get('recruiter-events', {}, {}).then((response) => {
                    this.recruiter_events = response
                })
            },
            SelectEvent(talents_id, events_id)
            {
//                this.$Helpers.Get('recruiter-activities/2/', {}, {}).then((response) => {
//                    this.temp=response.is_unchanged
//            })
                this.$Helpers.Get('talents/' + talents_id, {}, {}).then((response) => {
                    this.talents = response
                    // console.log(this.talents.recruiter_activities[0].id)

                    this.$Helpers.Get('recruiter-activities/'+this.talents.recruiter_activities[0].id+'/', {}, {}).then((response) => {
                        this.temp = response.is_unchanged

                        // console.log(this.talents.recruiter_activities.length)
                        if (this.talents.recruiter_activities.length > 0) {
                            console.log("dhukse")
                            //  console.log(this.temp)
                            this.$validator.validateAll().then((result) => {
                                    if (result) {
                                        this.loading = true
                                        console.log(this.talents.recruiter_activities[0].id)
                                        this.$Helpers.Put('recruiter-activities/'+this.talents.recruiter_activities[0].id+'/', {
                                            recruiter: 2,
                                            talent: talents_id,
                                            recruiter_event: events_id,
                                            is_unchanged: !this.temp
                                        }, {}).then((response) => {
                                                this.viewModal = {
                                                    show: false,
                                                    title: '',
                                                    size: ''
                                                }
                                                this.LoadTalent()
                                                this.loading = false
                                            }
                                        )
                                    }
                                }
                            )
//                })
                        }
                        else {
                            this.$validator.validateAll().then((result) => {
                                    if (result) {
                                        this.loading = true
                                        this.$Helpers.Post('recruiter-activities/', {
                                            recruiter: 2,
                                            talent: talents_id,
                                            recruiter_event: events_id
                                        }, {}).then((response) => {
                                                this.viewModal = {
                                                    show: false,
                                                    title: '',
                                                    size: ''
                                                }
                                                this.LoadTalent()
                                                this.loading = false
                                            },
                                            (err) =>
                                            {
                                                //show pop up
                                                this.viewModal.show = true;
                                                this.viewModal.title = '';
                                                this.viewModal.size = 'lg';
                                            }
                                        )
                                    }
                                }
                            )
                        }
                    })
                })
            },
            customFormatter(date) {
                return moment(date).format('YYYY-MM-DD');
            },
            ViewTalent(id)
            {
                this.talents.id = id
                this.$Helpers.Get('talents/' + id, {}, {}).then((response) => {
                    console.log(response);
                    this.talents.username = response.user.username
                    this.talents.first_name = response.user.first_name
                    this.talents.last_name = response.user.last_name
                    this.talents.email = response.user.email
                    this.talents.marital_status = response.marital_status.status
                    this.talents.birthdate = response.birthdate
                    this.talents.expertise_in = response.expertises
                    this.talents.city = response.addresses
                    this.talents.sex = response.sex.gender
                    this.talents.experience = response.experience
                    this.talents.mobile = response.mobile
                    if (response.recruiter_activities.length > 0) {
                        this.talents.is_unchanged = response.recruiter_activities[0].is_unchanged
                        this.talents.recruiter_event = response.recruiter_activities[0].recruiter_event.name
                        this.talents.recruiter_event_id = response.recruiter_activities[0].recruiter_event.id
                    }
                    else {
                        this.talents.is_unchanged = false
                    }
                    this.errors.clear()
                    this.viewModal = {
                        show: true,
                        title: 'Talents',
                        size: 'lg'
                    }
                })
            }
        }
    }
</script>