<template>
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption">
                        <span class="caption-subject font-gray sbold uppercase"><i class="icon-users"></i> User Groups</span>
                    </div>
                    <div class="actions">
                        <div class="btn-group" v-if="add_permission_check">                            
                            <button @click="NewUserType" id="sample_editable_1_new" class="btn sbold green"><i class="fa fa-plus"></i> Add Group</button>
                        </div>
                    </div>                    
                </div>
                <div class="portlet-body">
                    <v-client-table :data="dataTableObj.TableData" :columns="dataTableObj.Columns" :options="dataTableObj.Options">
                        <template slot="Action" slot-scope="props">
                            <a v-if="edit_permission_check" class="btn btn-xs blue" title="Edit" data-toggle="tooltip" @click="EditUserGroup(props.row.id)"><i class="fa fa-edit"></i></a>
                            <a v-if="view_permission_check" class="btn btn-xs green" title="View" data-toggle="tooltip" @click="ViewUserGroup(props.row.id)"><i class="fa fa-eye"></i></a>
                            <a v-if="delete_permission_check" class="btn btn-xs red" title="Delete" data-toggle="tooltip" @click="DeleteUserGroup(props.row.id)"><i class="fa fa-trash-o"></i></a>
                        </template>
                    </v-client-table>                   
                </div>
            </div>            
            <div class="clear-fix"></div>
        </div>

        <modal :pModal="modal">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Group Name</label><span class="l-error">*</span>
                        <input v-model="userGroup.group_name" type="text" class="form-control" name="group_name" v-validate="'required'"/>
                        <span v-if="errors.has('group_name')" class="v-error">The group name field is required.</span>
                    </div>
                    <div class="form-group">
                        <label>Description</label>
                        <input v-model="userGroup.description" type="text" class="form-control" name="description"/>                        
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">                    
                    <div class="text-right">
                    <div class="actions">
                        <vue-ladda  @click="SaveUserGroup" class="btn btn green-meadow" :loading="loading" :data-style="dataStyle" :progress="progress"><i class="fa fa-floppy-o"></i> Save</vue-ladda>
                    </div>
                    </div>
                </div>
            </div>
        </modal>

        <modal :pModal="vmodal">     
            
            <form @submit.prevent="SaveUserGroupPermission" method="post">
                <div class="row">
                    <div class="col-md-12">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <input type="checkbox" v-model="selectAll" :value="1"  @click="CheckAll()"> Select All                     
                            </li>
                            <li class="list-group-item" v-for="modules in userGroupModule" :key="modules.title">
                                <div class="row">
                                    <div class="col-md-2">{{ modules.title }} </div>
                                    <div class="col-md-10">
                                        <ul style="list-style:none;">
                                            <li style="display: inline-block;min-width:100px;" v-for="actions in modules.action" :key="actions.title" :value="actions.route">
                                                <div v-if="userGroupPermission.length > 0">    
                                                    <div v-for="permission in userGroupPermission" :key="permission.id">
                                                        <span v-if="actions.route == permission.route">
                                                            <input type="checkbox" v-model="routes" :value="actions.route"> {{ actions.title }}
                                                        </span>                                     
                                                    </div>
                                                </div>
                                                <div v-else>
                                                    <input type="checkbox" v-model="routes" :value="actions.route"> {{ actions.title }}
                                                </div>                                        
                                            </li>
                                        </ul>
                                    </div>                                                  
                                </div>                                                  
                            </li>
                        </ul>
                    </div> 
                </div>       

                <div class="row">
                    <div class="col-md-12">                    
                        <div class="text-right">
                        <div class="actions">
                            <vue-ladda class="btn btn green-meadow" :loading="loading" :data-style="dataStyle" :progress="progress"><i class="fa fa-floppy-o"></i> Set Permission</vue-ladda>
                        </div>
                        </div>
                    </div>
                </div>
            </form>

        </modal>
    </div>
</template>   

<script>
export default {
    layout(ctx) {
        return 'default'
    },
    middleware: 'authenticated',    
    mounted() {
      this.LoadUserGroups();
      this.LoadModuleList();
    },

    data() {
        return {    
            add_permission_check: this.$Helpers.permission_check('user_groups/add', this.$store.state.permissions),
            edit_permission_check: this.$Helpers.permission_check('user_groups/edit', this.$store.state.permissions),
            view_permission_check: this.$Helpers.permission_check('user_groups/view', this.$store.state.permissions),
            delete_permission_check: this.$Helpers.permission_check('user_groups/delete', this.$store.state.permissions),
            loading: false,
            dataStyle: 'expand-left',
            progress: 0,           
            modal: {
                show: false,
                title: '',
                size: 'sm'
            },
            vmodal: {
                show: false,
                title: '',
                size: 'sm'
            },
            userGroup: {},
            userGroupModule: {},
            userGroupPermission: {},
            routes: [],
            stuff:[],
            selectAll: '',
            dataTableObj: {
                Columns: ['group_name', 'description', 'Action'],
                TableData: [],
                Options: {
                    headings: {
                        group_name: 'Group Name',
                        description: 'Description',
                        Action: 'Action',
                    },
                    columnsClasses: {
                        Action: 'tbl-action size-30'
                    },
                    sortable: ['group_name']
                }
            }
        }
    },
    methods: {
        LoadUserGroups() {
            this.$Helpers.Get('user_groups', {}, this.$store.state.token).then((response) => {
               this.dataTableObj.TableData = response             
            })
        },
        NewUserType() {
            this.errors.clear()
            this.modal = {
                show: true,
                title: 'New User Group',
                size: 'md'
            };
            this.userGroup =  {
                id: 0
            }
        },        
        EditUserGroup(id) {
            this.userGroup.id = id
            this.$Helpers.Get('user_groups/' + id, { }, this.$store.state.token).then((response) => {                
                this.userGroup = response
                
                this.errors.clear()                
                this.modal = {
                    show: true,
                    title: 'Update User Group',
                    size: 'md'
                }
            })
        },
        SaveUserGroup() {      
            
            this.$validator.validateAll().then((result) => {
                if (result) {
                    this.loading = true
                    this.$Helpers.Post('user_groups', { userGroup: this.userGroup }, this.$store.state.token).then((response) => {
                        this.modal = {
                            show: false,
                            title: '',
                            size: 'md'
                        }
                        this.LoadUserGroups()
                        this.loading = false
                    })
                }                
            })
        },
        DeleteUserGroup(id) {
            
            this.$swal({
                title: "Are you sure to Delete?",
                text: "You will not be able to recover this information.",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: '#DD6B55',
                confirmButtonText: 'Yes, I am sure!',
                cancelButtonText: "No, cancel it!",
                closeOnConfirm: false,
                closeOnCancel: false
            })
            .then((isConfirm) => {
                
                this.$Helpers.Delete('user_groups/' + id, { }, this.$store.state.token).then((response) => {                
                    this.LoadUserGroups()
                })

            })
        },
        LoadModuleList() {
             this.$Helpers.Get('user_groups/module_list', { }, this.$store.state.token).then((response) => {                
                this.userGroupModule = response
            })
        },
        ViewUserGroup(id) {          
            this.routes = []
            this.$Helpers.Get('user_groups/get_permission/' + id, { }, this.$store.state.token).then((response) => {                
                this.userGroupId = id                
                this.userGroupPermission = response  

                response.forEach(a => {
                    if(a.is_permission == 1)
                    {
                        this.routes.push(a.route)
                    }
                })
                
                this.vmodal = {
                    show: true,
                    title: 'User Group Permissions',
                    size: 'lg'
                }
            })
        },
        SaveUserGroupPermission() { 
            
            this.loading = true
            this.$Helpers.Post('user_groups/set_permission', { userGroupId: this.userGroupId, Permission: this.routes }, this.$store.state.token).then((response) => {
                this.vmodal = {
                    show: false,
                    title: '',
                    size: 'md'
                }
                this.LoadUserGroups()
                this.loading = false
            })               
        },
        CheckAll() {
            
            if(this.selectAll != true)
            {
                this.userGroupModule.forEach(module => {                
                    module.action.forEach(a => {
                        this.routes.push(a.route)                
                    })
                }) 
            }
            else{
                this.routes = []             
            }
                      

        }
    }
}
</script> 