<template>
  <div :class="modal.show?'modal fade in':'modal fade'" :style="{'display': (modal.show)? 'block':'none'}" tabindex="-1" role="dialog" aria-hidden="true">
    <div :class="'modal-dialog modal-'+modal.size">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" @click="em_CloseModal" aria-hidden="true"></button>
          <h4 class="modal-title">{{modal.title}}</h4>
        </div>
        <div class="modal-body">
          <slot></slot>
        </div>        
      </div>    
    </div>    
  </div>
</template>

<script>
  export default {
    props: {
      pModal:{
        requird: true,
        twoWay: true,
        type: Object
      }
    },

    watch: {
      pModal(nv, ov) {       
        if (nv.show == true) {
          $('body').append('<div class="modal-backdrop fade in"></div>')
        }
        else {
          if ($('.modal-backdrop').length > 0) {
            $('.modal-backdrop').remove()
          }
        }
        this.modal = nv
      }
    },

    data() {
      return {
        modal: {
          title: '',
          size: 'sm',
          show: false
        }
      }
    },
    methods: {
      em_CloseModal() {
        $('.modal-backdrop').remove()
        this.modal.show = false
      }
    }
  }
</script>