.l-error{
    color:#d9534f;
    font-weight: bold;
    font-size: 15px;
    margin-left: 3px; 
}
.v-error{
    color:#d9534f;
    font-size: 11px;
}

.message-success{
    color:green;
    font-size: 14px;
}

.message-error {
    color: red;
    font-size: 14px;
}

.portlet.light {
    padding-bottom: 100px !important;
}
.tbl-action{
    text-align: center;
    min-width: 100px !important;
}

.nuxt-link-active{
    background: #2C3542;
    color: #b4bcc8;
    border-left: 3px solid #5C9ACF !important;
    margin-left: -3px;
    padding-left: 15px;
    margin: 0;
}
.page-header.navbar .page-logo .logo-default {
    margin: 10px !important;
}

.refresh{
    margin-right: 5px;
}

.ladda-button {
    padding: 6px 12px !important;
    font-size: 14px !important;
}

.ladda-button[data-style="expand-left"][data-loading] {
    padding-left: 50px !important;     
}

.page-header.navbar .page-logo .logo-default{
    margin: 10px 0px 0px 0px !important;
    height: 30px;
}

.time-picker input.display-time {
    width: 90% !important;
    height: 34px !important;
    padding: 6px 12px !important;
    display: block !important;
}
