<template>
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption">
                        <span class="caption-subject font-gray sbold uppercase"><i class="icon-address"></i> Education</span>
                    </div>
                    <div class="actions">
                        <!--send button to the right corner-->
                        <div class="btn-group">
                            <!--button size standard-->
                            <button @click="NewEducation" class="btn sbold green">
                                <i class="fa fa-plus"></i> Add Education
                            </button>
                        </div>
                    </div>
                </div>
                <div class="portlet-body">
                    <v-client-table :data="dataTableObj.TableData" :columns="dataTableObj.Columns"
                                    :options="dataTableObj.Options">
                        <template slot="action" slot-scope="props">
                            <a @click="EditEducation(props.row.id)" class="btn btn-xs blue" title="Edit" data-toggle="tooltip" >
                                <i class="fa fa-edit"></i>
                            </a>
                            <a @click="ViewEducation(props.row.id)" class="btn btn-xs green" title="View" data-toggle="tooltip">
                                <i class="fa fa-eye"></i>
                            </a>
                        </template>
                    </v-client-table>
                </div>
            </div>
        </div>
        <modal :pModal="modal">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">Educations</h3>
                </div>
            </div>
            <div class="panel-body">
                <div class="row" v-if="educations.id == 0">
                    <div class="form-group col-md-4">
                        <label>Organization</label><span class="l-error">*</span>
                        <input v-model="educations.organization" type="text" class="form-control" v-validate="'required'"/>
                    </div>
                    <div class="form-group col-md-4">
                        <label>Resume</label><span class="l-error">*</span>
                        <input v-model="educations.resume" type="text" class="form-control" v-validate="'required'"/>
                    </div>
                    <div class="form-group col-md-4">
                        <label>Graduation</label><span class="l-error">*</span>
                        <input v-model="educations.graduation" type="text" class="form-control" v-validate="'required'"/>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Start Date</label>
                            <datepicker :format="customFormatter" :minimumView="'date'" v-model="educations.start_date" :input-class="'form-control'" name="start_date"></datepicker>
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <label>Completion Date</label>
                        <datepicker :format="customFormatter" :minimumView="'date'" v-model="educations.completion_date" :input-class="'form-control'" name="start_date"></datepicker>
                    </div>
                </div>
                <div class="row" v-else>
                    <div class="form-group col-md-4">
                        <label>Organization</label><span class="l-error">*</span>
                        <input v-model="educations.organization" type="text" class="form-control" v-validate="'required'"/>
                    </div>
                    <div class="form-group col-md-4">
                        <label>Resume</label><span class="l-error">*</span>
                        <input v-model="educations.resume" type="text" class="form-control" v-validate="'required'" disabled/>
                    </div>
                    <div class="form-group col-md-4">
                        <label>Graduation</label><span class="l-error">*</span>
                        <input v-model="educations.graduation" type="text" class="form-control" v-validate="'required'"/>
                    </div>
                    <div class="form-group col-md-4">
                        <label>Start Date</label>
                        <input v-model="educations.start_date" type="text" class="form-control" disabled/>
                    </div>
                    <div class="form-group col-md-4">
                        <label>Completion Date</label>
                        <input v-model="educations.completion_date" type="text" class="form-control" disabled/>
                    </div>
                </div>
            </div>
            <vue-ladda v-if="share_modals==1" @click="SaveEducation" class="btn btn green-meadow" :loading="loading" :progress="progress" :data-style="dataStyle">
                Save
            </vue-ladda>
            <vue-ladda v-if="share_modals==0" @click="UpdateEducation(educations.id)" class="btn btn green-meadow" :loading="loading" :progress="progress" :data-style="dataStyle">
                Update
            </vue-ladda>
        </modal>
        <modal :pModal="viewModal">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">Educations</h3>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="form-group col-md-4">
                        <label>Website</label><br>
                        {{educations.website}}
                    </div>
                    <div class="form-group col-md-4">
                        <label>Organization</label><br>
                        {{educations.organization}}
                    </div>
                    <div class="form-group col-md-4">
                        <label>Graduation</label><br>
                        {{educations.graduation}}
                    </div>
                    <div class="form-group col-md-4">
                        <label>Start Date</label><br>
                        {{educations.start_date}}
                    </div>
                    <div class="form-group col-md-4">
                        <label>Completion Date</label><br>
                        {{educations.completion_date}}
                    </div>
                </div>
            </div>
        </modal>
    </div>
</template>
<script>
    import Datepicker from 'vuejs-datepicker';

    export default{
        components: {
            Datepicker
        },
        layout(ctx){
            return 'default'
        },
        middleware:'authenticated',
        mounted()
        {
            this.LoadEducation()
        },
        data()
        {
            return{
                share_modals:0,
                loading: false,
                dataStyle: 'expand-left',
                progress: 0,
                modal:{
                    show:false,
                    title:'',
                    size:'sm'
                },
                viewModal:{
                    show:false,
                    title:'',
                    size:'sm'
                },
                educations:{},
                dataTableObj:{
                    Columns:['id','start_date','completion_date','organization','graduation','website','action'],
                    TableData:[],
                    Options:{
                        headings:{
                            id:'Id',
                            start_date:'Start Date',
                            completion_date:'Completion Date',
                            website:'Website',
                            graduation:'Graduation',
                            organization:'Organization',
                            action:'Action'
                        },
                        columnsClasses: {
                            Action: 'tbl-action size-30'
                        },
                        sortable: ['start_date', 'completion_date']
                    }
                }
            }
        },
        methods:{
            LoadEducation()
            {
                this.$Helpers.Get('educations', {}, {}).then((response) => {
                    this.dataTableObj.TableData = response
            })
            },
            customFormatter(date) {
                return moment(date).format('YYYY-MM-DD');
            },
            ViewEducation(id)
            {
                this.$Helpers.Get('educations/'+id, {}, {}).then((response) => {
                console.log(response);
                this.educations.start_date=response.start_date
                this.educations.completion_date=response.completion_date
                this.educations.graduation=response.graduation
                this.educations.organization=response.organization
                this.educations.website=response.website
                this.educations.resume=response.resume
                this.errors.clear()
                this.viewModal={
                    show:true,
                    title:'Education',
                    size:'lg'
                }
            })
            },
            NewEducation()
            {
                this.educations={}
                this.errors.clear()
                this.educations.id= 0
                console.log(this.educations.id)
                this.share_modals=1,
                    this.modal={
                        show:true,
                        title:'Add Education',
                        size:'lg'
                    }
                this.errors.clear()
            },
            SaveEducation()
            {
                console.log(this.educations)
                this.$validator.validateAll().then((result) => {
                    if (result) {
                        this.loading = true
                        this.$Helpers.Post('educations/', {
                            start_date: this.educations.start_date,
                            completion_date:this.educations.completion_date,
                            graduation: this.educations.graduation,
                            organization:this.educations.organization,
                            website: this.educations.website,
                            resume:this.educations.resume
                        }, {}).then((response) => {
                            this.modal = {
                            show: false,
                            title: '',
                            size: ''
                        }
                        this.LoadEducation()
                        this.loading = false
                    },
                        (err)=> {
                            console.log(this.educations)
                            //show pop up
                            this.modal.show = true;
                            this.modal.title = '';
                            this.modal.size = 'lg';
                        }
                    )
                    }
                })
            },
            EditEducation(id) {
                this.share_modals = 0
                this.educations.id = id
                this.$Helpers.Get('educations/' + id, {}, {}).then((response) => {
                    //  console.log(response)
                    this.educations = response
                this.educations.start_date = response.start_date
                this.educations.completion_date = response.completion_date
                this.educations.graduation = response.graduation
                this.educations.organization = response.organization
                this.educations.website = response.website
                this.educations.resume = response.resume
                this.errors.clear()
                this.modal = {
                    show: true,
                    title: 'Update Education',
                    size: 'lg'
                }
            })
            },
            UpdateEducation(id)
            {
                console.log(this.educations)
                this.$validator.validateAll().then((result) => {
                    if (result) {
                        this.loading = true
                        this.$Helpers.Put('educations/'+id+'/', {
                            start_date: this.educations.start_date,
                            completion_date: this.educations.completion_date,
                            graduation: this.educations.graduation,
                            organization: this.educations.organization,
                            website: this.educations.website,
                            resume: this.educations.resume,
                        }, {}).then((response) => {
                            this.modal = {
                            show: false,
                            title: '',
                            size: ''
                        }
                        this.LoadEducation()
                        this.loading = false
                    },
                        (err)=> {
                            console.log(this.user)
                            //show pop up
                            this.modal.show = true;
                            this.modal.title = '';
                            this.modal.size = 'lg';
                        }
                    )
                    }
                })
            }
        }
    }
</script>