<template>
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption">
                        <span class="caption-subject font-gray sbold uppercase"><i class="icon-address"></i> Resume</span>
                    </div>
                </div>
                <div class="portlet-body">
                    <v-client-table :data="dataTableObj.TableData" :columns="dataTableObj.Columns"
                                    :options="dataTableObj.Options">
                        <template slot="action" slot-scope="props">
                            <a class="btn btn-xs green" title="View" data-toggle="tooltip" @click="ViewResume(props.row.id)">
                                <i class="fa fa-eye"></i>
                            </a>
                        </template>
                    </v-client-table>
                </div>
            </div>
        </div>

        <modal :pModal="viewModal">
            {{resume.description}}
        </modal>
    </div>
</template>
<script>
    export default{
        layout(ctx){
            return 'default'
        },
        middleware:'authenticated',
        mounted()
        {
            this.LoadResume()
        },
        data()
        {
            return{
                share_modals:0,
                loading: false,
                dataStyle: 'expand-left',
                progress: 0,
                modal:{
                    show:false,
                    title:'',
                    size:'sm'
                },
                viewModal:{
                    show:false,
                    title:'',
                    size:'sm'
                },
                resume:{},
                dataTableObj:{
                    Columns:['id','description','talent','action'],
                    TableData:[],
                    Options:{
                        headings:{
                            id:'Id',
                            description:'Description',
                            talent:'Talent Id',
                            action:'Action'
                        },
                        columnsClasses: {
                            Action: 'tbl-action size-30'
                        },
                        sortable: ['id','description', 'talent']
                    }
                }
            }
        },
        methods:{
            LoadResume()
            {
                this.$Helpers.Get('resumes', {}, {}).then((response) => {
                    this.dataTableObj.TableData = response
            })
            },
            ViewResume(id)
            {
                this.$Helpers.Get('resumes/'+id, {}, {}).then((response) => {
                    console.log(response);
                this.resume.description=response.description
                this.viewModal={
                    show:true,
                    title:'Resume Details',
                    size:'lg'
                }
            })
            }
        }
    }
</script>