<template>
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption">
                        <span class="caption-subject font-gray sbold uppercase"><i class="icon-user"></i> Users</span>
                    </div>
                    <div class="actions">
                        <div class="btn-group" v-if="add_permission_check">
                            <button @click="NewUser" id="sample_editable_1_new" class="btn sbold green"><i
                                    class="fa fa-plus"></i> Add User
                            </button>
                        </div>
                    </div>
                </div>
                <div class="portlet-body">
                    <v-client-table :data="dataTableObj.TableData" :columns="dataTableObj.Columns"
                                    :options="dataTableObj.Options">
                        <template slot="full_name" slot-scope="props">
                            {{props.row.first_name}} {{props.row.last_name}}
                        </template>

                        <template slot="Action" slot-scope="props">
                            <a v-if="edit_permission_check" class="btn btn-xs blue" title="Edit" data-toggle="tooltip"
                               @click="EditUser(props.row.id)"><i class="fa fa-edit"></i></a>
                            <a v-if="view_permission_check" class="btn btn-xs green" title="View" data-toggle="tooltip"
                               @click="ViewUser(props.row.id)"><i class="fa fa-eye"></i></a>
                        </template>
                    </v-client-table>
                </div>
            </div>
            <div class="clear-fix"></div>
        </div>

        <modal :pModal="modal">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">Account Information</h3>
                </div>
                <div class="panel-body">
                    <div class="row" v-if="user.id == 0">
                        <div class="form-group col-md-4">
                            <label>Email</label><span class="l-error">*</span>
                            <input v-model="user.email" type="text" class="form-control" name="email"
                                   v-validate="'required|email'"/>
                            <span v-if="errors.has('email')" class="v-error">{{ errors.first('email') }}</span>
                        </div>
                        <div class="form-group col-md-4">
                            <label>Password</label><span class="l-error">*</span>
                            <input v-model="user.password" type="password" class="form-control" name="password"
                                   v-validate="'required|min:6'"/>
                            <span v-if="errors.has('password')" class="v-error">{{ errors.first('password') }}</span>
                        </div>
                        <div class="form-group col-md-4">
                            <label>Confirm Password</label><span class="l-error">*</span>
                            <input v-model="user.confirm_password" type="password" class="form-control"
                                   name="confirm_password" v-validate="'required|min:6|confirmed:password'"/>
                            <span v-if="errors.has('confirm_password')" class="v-error">{{ errors.first('confirm_password') }}</span>
                        </div>
                    </div>
                    <div class="row" v-else>
                        <div class="form-group col-md-4">
                            <label>Email</label>
                            <input v-model="user.email" type="text" class="form-control" name="email" disabled/>
                        </div>
                        <div class="form-group col-md-4">
                            <label>Password</label>
                            <input v-model="user.password" type="password" class="form-control" name="password"
                                   v-validate="'min:6'"/>
                            <span v-if="errors.has('password')" class="v-error">{{ errors.first('password') }}</span>
                        </div>
                        <div class="form-group col-md-4">
                            <label>Confirm Password</label>
                            <input v-model="user.confirm_password" type="password" class="form-control"
                                   name="confirm_password" v-validate="'min:6|confirmed:password'"/>
                            <span v-if="errors.has('confirm_password')" class="v-error">{{ errors.first('confirm_password') }}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">Personal Details</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label>First Name</label><span class="l-error">*</span>
                            <input v-model="user.first_name" type="text" class="form-control"
                                   name="first_name" v-validate="'required'"/>
                            <span v-if="errors.has('first_name')" class="v-error">The first name field is required.</span>
                        </div>
                        <div class="form-group col-md-4">
                            <label>Last Name</label><span class="l-error">*</span>
                            <input v-model="user.last_name" type="text" class="form-control"
                                   name="last_name" v-validate="'required'"/>
                            <span v-if="errors.has('last_name')" class="v-error">The last name field is required.</span>
                        </div>
                        <div class="form-group col-md-4">
                            <label>User Name</label><span class="l-error">*</span>
                            <input v-model="user.username" type="text" class="form-control"
                                   name="username" v-validate="'required'"/>
                            <span v-if="errors.has('username')" class="v-error">The user name field is required.</span>
                        </div>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="text-right">
                        <div class="actions">
                            <div class="btn-group">
                                <vue-ladda v-if="share_modals==1" @click="SaveUser" class="btn btn green-meadow" :loading="loading"
                                           :data-style="dataStyle" :progress="progress"><i class="fa fa-floppy-o"></i>
                                    Save
                                </vue-ladda>
                                <vue-ladda v-if="share_modals==0" @click="UpdateUser(user.id)" class="btn btn green-meadow" :loading="loading"
                                           :data-style="dataStyle" :progress="progress"><i class="fa fa-floppy-o"></i>
                                    Update
                                </vue-ladda>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </modal>

        <modal :pModal="viewModal">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">Account Information</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label>Email</label><br>
                            {{user.email}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">Personal Details</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label>First Name</label><br>
                            {{user.first_name}}
                        </div>
                        <div class="form-group col-md-4">
                            <label>Last Name</label><br>
                            {{user.last_name}}
                        </div>
                        <div class="form-group col-md-4">
                            <label>User Name</label><br>
                            {{user.username}}
                        </div>
                    </div>
                </div>
            </div>
        </modal>

    </div>
</template>

<script>
    export default {
        layout(ctx) {
            return 'default'
        },
        middleware: 'authenticated',

        mounted() {
            //this.getUserGroupList()
            this.LoadUsers()
        },

        data() {
            return {
                share_modals:0,
                add_permission_check: this.$Helpers.permission_check('users/add', this.$store.state.permissions),
                edit_permission_check: this.$Helpers.permission_check('users/edit', this.$store.state.permissions),
                view_permission_check: this.$Helpers.permission_check('users/view', this.$store.state.permissions),
                loading: false,
                dataStyle: 'expand-left',
                progress: 0,
                userGroupList: [],
                modal: {
                    show: false,
                    title: '',
                    size: 'sm'
                },
                viewModal: {
                    show: false,
                    title: '',
                    size: 'sm'
                },
                user: {},
                emailsDB: [],
                dataTableObj: {
                    Columns: ['full_name', 'email', 'username', 'Action'],
                    TableData: [],
                    Options: {
                        headings: {
                            full_name: 'Name',
                            email: 'Email',
                            username:'User Name',
                            Action: 'Action',
                        },
                        columnsClasses: {
                            Action: 'tbl-action size-30'
                        },
                        sortable: ['full_name', 'email', 'group_name', 'status']
                    }
                }
            }
        },
        created() {

            const isUnique = (value) => {

                return this.$Helpers.Get('users/email_check/' + value, {}, this.$store.state.token).then((response) => {
                    return {
                        valid: response.status,
                        data: {
                            message: response.message
                        }
                    };
                });
            };

            this.$validator.extend('unique', {
                validate: isUnique,
                getMessage: (field, params, data) => data.message
            });


        },
        methods: {
            LoadUsers() {
                console.log(this.$store.state)
                this.$Helpers.Get('users', {}, {}).then((response) => {
                    this.dataTableObj.TableData = response
                })
            },
            NewUser() {
                this.share_modals = 1
                this.errors.clear()
                this.modal = {
                    show: true,
                    title: 'New User',
                    size: 'lg'
                }
                this.user = {
                    id: 0,
                    user_group_id: ""
                }
            },
            EditUser(id) {
                this.share_modals = 0
                this.user.id = id
                this.$Helpers.Get('users/' + id, {}, {}).then((response) => {
                  //  console.log(response)
                    this.user = response
                    this.user.first_name = response.first_name
                    this.user.last_name = response.last_name
                    this.user.username = response.username
                    this.errors.clear()
                    this.modal = {
                        show: true,
                        title: 'Update User',
                        size: 'lg'
                    }
                })
            },
            UpdateUser(id)
            {
                console.log(this.user)
                this.$validator.validateAll().then((result) => {
                    if (result) {
                        this.loading = true
                        this.$Helpers.Put('users/'+id+'/', {
                            username: this.user.username,
                            first_name: this.user.first_name,
                            last_name: this.user.last_name,
                            email: this.user.email
                        }, {}).then((response) => {
                            this.modal = {
                            show: false,
                            title: '',
                            size: ''
                        }
                        this.LoadUsers()
                        this.loading = false
                    },
                        (err)=> {
                            console.log(this.user)
                            //show pop up
                            this.modal.show = true;
                            this.modal.title = '';
                            this.modal.size = 'lg';
                        }
                    )
                    }
                })
            },
            ViewUser(id) {
                this.user.id = id
                this.$Helpers.Get('users/'+id, {}, {}).then((response) => {
                // console.log(response)
                this.user = response
                this.user.user_detail_first_name = response.first_name
                this.user.user_detail_last_name = response.last_name
                this.user.username = response.username
                this.errors.clear()
                this.viewModal = {
                    show: true,
                    title: 'User Details',
                    size: 'lg'
                }
                })
            },

            SaveUser() {
                console.log(this.user)
                this.$validator.validateAll().then((result) => {
                    if (result) {
                        this.loading = true
                        this.$Helpers.Post('users/', {
                            username: this.user.username,
                            first_name: this.user.first_name,
                            last_name: this.user.last_name,
                            email: this.user.email
                        }, {}).then((response) => {
                            this.modal = {
                            show: false,
                            title: '',
                            size: ''
                        }
                        this.LoadUsers()
                        this.loading = false
                    },
                        (err)=> {
                            console.log(this.user)
                            //show pop up
                            this.modal.show = true;
                            this.modal.title = '';
                            this.modal.size = 'lg';
                        }
                    )
                    }
                })
            },
            getUserGroupList() {
                this.$Helpers.Get('user_groups/list', {}, this.$store.state.token).then((response) => {
                    this.userGroupList = response
                })
            }
        }
    }
</script> 