<template>
    <section>               
        <div class="row">
            <div class="col-md-12"> 
                <div class="profile-content">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="portlet light ">
                                <div class="portlet-title tabbable-line">
                                    <div class="caption caption-md">                                        
                                        <span class="caption-subject font-blue-madison bold uppercase">
                                            <i class="icon-user"></i>
                                            My Profile
                                        </span>
                                    </div>                                    
                                </div>
                                <div class="portlet-body">
                                    <div class="tab-content">                                        
                                        <div class="tab-pane active">
                                            <form role="form" action="#">
                                                <div class="row">
                                                    <div class="form-group col-md-6">
                                                        <label class="control-label">First Name</label>
                                                        <input type="text" class="form-control" v-model="User.user_detail.first_name" disabled/> 
                                                    </div>
                                                    <div class="form-group col-md-6">
                                                        <label class="control-label">Last Name</label>
                                                        <input type="text" class="form-control" v-model="User.user_detail.last_name" disabled/> 
                                                    </div>
                                                    <div class="form-group col-md-6">
                                                        <label class="control-label">Email</label>
                                                        <input type="text" class="form-control" v-model="User.email" disabled/> 
                                                    </div>
                                                    <div class="form-group col-md-6">
                                                        <label class="control-label">Mobile</label>
                                                        <input type="text" class="form-control" v-model="User.user_detail.phone" disabled/> 
                                                    </div>
                                                    <div class="form-group col-md-6">
                                                        <label class="control-label">Address</label>
                                                        <input type="text" class="form-control" v-model="User.user_detail.address" disabled/> 
                                                    </div>
                                                    <div class="form-group col-md-6">
                                                        <label class="control-label">Group</label>
                                                        <input type="text" class="form-control" v-model="User.user_group.group_name" disabled/> 
                                                    </div>
                                                    <div class="form-group col-md-6">
                                                        <label class="control-label">Status</label>
                                                        <input type="text" class="form-control"  v-if="User.status = 1" value="Active" disabled/>
                                                        <input type="text" class="form-control"  v-if="User.status = 0" value="Active" disabled/> 
                                                    </div>
                                                </div>    
                                            </form>
                                        </div>                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="portlet light ">
                                <div class="portlet-title tabbable-line">
                                    <div class="caption caption-md">                                        
                                        <span class="caption-subject font-blue-madison bold uppercase">
                                            <i class="icon-lock"></i>
                                            Chnage Password
                                        </span>
                                    </div>                                    
                                </div>
                                <div class="portlet-body">
                                    <div class="tab-content">                                        
                                        <div class="tab-pane active">
                                            <form role="form" @submit.prevent="ChangePassword" method="post" validate="validate">
                                                <div class="row">                                                                                                                                                          
                                                    <div class="form-group col-md-12">
                                                        <label>New Password</label>
                                                        <input v-model="Password.password" type="password" class="form-control" name="password" v-validate="'required|min:6'"/>
                                                        <span v-if="errors.has('password')" class="v-error">{{ errors.first('password') }}</span>
                                                    </div> 
                                                    <div class="form-group col-md-12">
                                                        <label>Confirm Password</label>
                                                        <input v-model="Password.confirm_password" type="password" class="form-control" name="confirm_password" v-validate="'required|min:6|confirmed:password'"/>
                                                        <span v-if="errors.has('confirm_password')" class="v-error">{{ errors.first('confirm_password') }}</span>
                                                    </div>                                                                                                     
                                                </div> 
                                                <div class="row">
                                                    <div class="col-md-12">                    
                                                        <div class="text-right">
                                                            <div class="actions">
                                                                <div class="btn-group">
                                                                    <button type="submit" class="btn btn green-meadow"><i class="fa fa-floppy-o"></i> Change Password</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <br><br><br><br><br><br>
                                                    </div>
                                                </div>   
                                            </form>
                                        </div>                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>                       
            </div>
        </div>           
    </section>
</template>

<script>
export default {
    data() {
        return {      
            User: {
                user_detail: {
                    first_name: '',
                    last_name: '',
                    address: '',
                    phone: ''
                },
                user_group: {
                    group_name: ''
                }
            },
            Password: {}
        }      
    },
    mounted() {  

        this.LoadUserInfo()
               
    },
    methods: {
        LoadUserInfo()
        {
            let user_id =  this.$store.state.user.id;
            this.$Helpers.Get('users/' + user_id, {}, this.$store.state.token , false, false).then((response) => {            
                this.User = response
            })
        },
        ChangePassword() 
        {
            this.$validator.validateAll().then((result) => {
            if (result) {                
                this.$Helpers.Post('users/change_password', { Password: this.Password }, this.$store.state.token).then((response) => {
                    this.Password = {
                        password : '',
                        confirm_password : ''
                    }
                    this.LoadUserInfo()
                }) 
            }
            })  
                           
        }
    }
}
</script>

