<style>
  .page-content-wrapper .page-content{
    padding-top:0;
  }
</style>

<template>


    <div class="page-wrapper">
        <top-header></top-header>
        <div class="clearfix"> </div>
      <div class="page-container">
        <!-- BEGIN SIDEBAR -->
        <side-bar></side-bar>
        <!-- END SIDEBAR -->
        <!-- BEGIN CONTENT -->
        <div class="page-content-wrapper">
          <!-- BEGIN CONTENT BODY -->
          <div class="page-content">
            <br>
            <nuxt />
          </div>
          <!-- END CONTENT BODY -->
        </div>
        <!-- END CONTENT -->
      </div>
      <div class="page-footer">
        <div class="page-footer-inner">
          2018 © Copyright
          <a target="_blank" href="http://vivacomsolutions.com/">Vivacom Solutions Ltd.</a>
        </div>
      </div>
    </div>


</template>

<script>
  import TopHeader from '~/components/layout/Header.vue'
  import SideBar from '~/components/layout/Sidebar.vue'

  export default {
    head: {
      bodyAttrs: {
        class: 'page-container-bg-solid page-sidebar-closed-hide-logo page-header-fixed'
      }
    },
    middleware: 'authenticated',
    components: {
      TopHeader,SideBar
    }
  }

</script>

