<template>
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption">
                        <span class="caption-subject font-gray sbold uppercase"><i class="icon-address"></i> Recruiter Activities</span>
                    </div>
                </div>
                <div class="portlet-body">
                    <v-client-table :data="dataTableObj.TableData" :columns="dataTableObj.Columns"
                                    :options="dataTableObj.Options">
                        <template slot="username" slot-scope="props">
                            {{props.row.recruiter.user.username}}
                        </template>
                        <template slot="email" slot-scope="props">
                            {{props.row.talent.user.email}}
                        </template>
                        <template slot="expertise_in" slot-scope="props">
                            <ul>
                                <li v-for="(expertise,index) in props.row.talent.expertises" :key="index">
                                    {{expertise.expertise_in}}
                                </li>
                            </ul>
                        </template>
                        <template slot="experience" slot-scope="props">
                            {{props.row.talent.experience}}
                        </template>
                        <template slot="mobile" slot-scope="props">
                            {{props.row.talent.mobile}}
                        </template>
                        <template slot="status" slot-scope="props">
                            {{props.row.recruiter_event.name}}
                        </template>
                        <template slot="talent_name" slot-scope="props">
                            {{props.row.talent.user.first_name}} {{props.row.talent.user.last_name}}
                        </template>
                        <template slot="action" slot-scope="props">
                            <a class="btn btn-xs green" title="View" data-toggle="tooltip" @click="ViewRecruiterActivity(props.row.recruiter.id)">
                                <i class="fa fa-eye"></i>
                            </a>
                        </template>
                    </v-client-table>
                </div>
            </div>
        </div>

        <modal :pModal="viewModal">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">Talent</h3>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="form-group col-md-4">
                        <label>Username</label><br>
                        {{recruiter_activity.talent_username}}
                    </div>
                    <div class="form-group col-md-4">
                        <label>First Name</label><br>
                        {{recruiter_activity.talent_first_name}}
                    </div>
                    <div class="form-group col-md-4">
                        <label>Last Name</label><br>
                        {{recruiter_activity.talent_last_name}}
                    </div>
                    <div class="form-group col-md-4">
                        <label>Email</label><br>
                        {{recruiter_activity.talent_email}}
                    </div>
                    <div class="form-group col-md-4">
                        <label>Qualification</label><br>
                        {{recruiter_activity.talent_qualification}}
                    </div>
                    <div class="form-group col-md-4">
                        <label>Birth place</label><br>
                        {{recruiter_activity.talent_birthplace}}
                    </div>
                    <div class="form-group col-md-4">
                        <label>Mobile</label><br>
                        {{recruiter_activity.talent_mobile}}
                    </div>
                    <div class="form-group col-md-4">
                        <label>Experience</label><br>
                        {{recruiter_activity.talent_experience}} years
                    </div>
                </div>
            </div>
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">Recruiter Event</h3>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="form-group col-md-4">
                        <label>Event Name</label><br>
                        {{recruiter_activity.event_name}}
                    </div>
                    <div class="form-group col-md-4">
                        <label>Message</label><br>
                        {{recruiter_activity.event_message}}
                    </div>
                    <div class="form-group col-md-4">
                        <label>Description</label><br>
                        {{recruiter_activity.event_description}}
                    </div>
                </div>
            </div>
        </modal>
    </div>
</template>
<script>
    export default{
        layout(ctx){
            return 'default'
        },
        middleware:'authenticated',
        mounted()
        {
            this.LoadDashboard()
        },
        data()
        {
            return{
                share_modals:0,
                loading: false,
                dataStyle: 'expand-left',
                progress: 0,
                modal:{
                    show:false,
                    title:'',
                    size:'sm'
                },
                viewModal:{
                    show:false,
                    title:'',
                    size:'sm'
                },
                recruiter_activity:{},
                dataTableObj:{
                    Columns:['id','username','email','talent_name','expertise_in','experience','mobile','status','action'],
                    TableData:[],
                    Options:{
                        headings:{
                            id:'Id',
                            username:'Recruiter Username',
                            email:'Talent Email',
                            talent_name:'Talent Name',
                            expertise_in:'Expertise',
                            experience:'Experience',
                            mobile:'Mobile',
                            status:'Status',
                            action:'Action'
                        },
                        columnsClasses: {
                            Action: 'tbl-action size-30'
                        },
                        sortable: ['id','username', 'email']
                    }
                }
            }
        },
        methods:{
            LoadDashboard()
            {
                this.$Helpers.Get('recruiter-activities/recruiters/2/talents/', {}, {}).then((response) => {
                    this.dataTableObj.TableData = response
            })
            },
            ViewRecruiterActivity(id)
            {
                console.log(id)
                this.$Helpers.Get('recruiter-activities/recruiters/'+id+'/talents/', {}, {}).then((response) => {
                   console.log(response)
//                   console.log(response[0].talent.expertises)
//                console.log(response[0].talent.user.username)
                console.log(response[0].recruiter_event)
                this.recruiter_activity.talent_username=response[0].talent.user.username
                this.recruiter_activity.talent_first_name=response[0].talent.user.first_name
                this.recruiter_activity.talent_last_name=response[0].talent.user.last_name
                this.recruiter_activity.talent_email=response[0].talent.user.email
                this.recruiter_activity.talent_experience=response[0].talent.experience
                this.recruiter_activity.talent_birthdate=response[0].talent.birthdate
                this.recruiter_activity.talent_mobile=response[0].talent.mobile
                this.recruiter_activity.talent_qualification=response[0].talent.qualification
                this.recruiter_activity.talent_birthplace=response[0].talent.birthplace
                this.recruiter_activity.event_name=response[0].recruiter_event.name
                this.recruiter_activity.event_message=response[0].recruiter_event.message
                this.recruiter_activity.event_description=response[0].recruiter_event.description

                this.viewModal={
                    show:true,
                    title:'Recruiter Activity',
                    size:'lg'
                }
            })
            }
        }
    }
</script>