<template>
    <div>
        <div class="logo">
            <a href="index.html">
                <img src="/images/logo.png" alt=""/> </a>
        </div>
        <div class="content">
            <form @submit.prevent="Login" v-if="!ShowForgotPasswordForm" class="login-form" method="post"
                  novalidate="novalidate" style="display: block;">
                <h3 class="form-title">Login to your account</h3>
                <div v-if="isWarning == true" class="alert alert-warning">
                    <span><i class="fa fa-spinner fa-spin"></i> Loging ........ </span>
                </div>
                <div v-if="isSuccess == true" class="alert alert-success">
                    <span><i class="fa fa-check"></i> Loging successfull.</span>
                </div>
                <div v-if="isError == true" class="alert alert-danger">
                    <span><i class="fa fa-warning"></i> Please enter valid email and password. </span>
                </div>
                <div class="form-group">
                    <label class="control-label visible-ie8 visible-ie9">Email</label>
                    <div class="input-icon">
                        <i class="fa fa-user"></i>
                        <input class="form-control placeholder-no-fix" type="text" autocomplete="off"
                               placeholder="Email" v-model="User.email"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label visible-ie8 visible-ie9">Password</label>
                    <div class="input-icon">
                        <i class="fa fa-lock"></i>
                        <input class="form-control placeholder-no-fix" type="password" autocomplete="off"
                               placeholder="Password" v-model="User.password"/>
                    </div>
                </div>
                <div class="form-actions">
                    <label class="rememberme mt-checkbox mt-checkbox-outline">
                        <input type="checkbox" name="remember" value="1"/> Remember me
                        <span></span>
                    </label>
                    <button type="submit" class="btn green pull-right"> Login</button>
                </div>
            </form>
        </div>
    </div>
</template>

<style>
    .login {
        background: url(/images/login_bg.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    .login .logo {
        margin: 60px auto 20px auto;
        padding: 15px;
        text-align: center;
    }

    .login .content {
        background-color: #fff;
        width: 360px;
        margin: 0 auto;
        margin-bottom: 0px;
        padding: 30px;
        padding-top: 20px;
        padding-bottom: 15px;
        -webkit-border-radius: 7px;
        -moz-border-radius: 7px;
        -ms-border-radius: 7px;
        -o-border-radius: 7px;
        border-radius: 7px;
    }

    .login .content h3 {
        color: #26a1ab;
    }

    .login .content h4 {
        color: #555;
    }

    .login .content p {
        color: #222;
    }

    .login .content .login-form,
    .login .content .forget-form {
        padding: 0px;
        margin: 0px;
    }

    .login .content .input-icon {
        border-left: 2px solid #44B6AE !important;
    }

    .login .content .input-icon {
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        -o-border-radius: 4px;
        border-radius: 4px;
    }

    .login .content .input-icon .form-control {
        border-left: 0;
    }

    .login .content .forget-form {
        display: none;
    }

    .login .content .register-form {
        display: none;
    }

    .login .content .form-title {
        font-weight: 200 !important;
        margin-bottom: 25px;

    }

    .login .content .form-actions {
        background-color: #fff;
        clear: both;
        border: 0px;
        padding: 0px 30px 25px 30px;
        margin-left: -30px;
        margin-right: -30px;
    }

    .login .content .forget-form .form-actions {
        border: 0;
        margin-bottom: 0;
        padding-bottom: 20px;
    }

    .login .content .register-form .form-actions {
        border: 0;
        margin-bottom: 0;
        padding-bottom: 0px;
    }

    .login .content .form-actions .rememberme {
        margin-top: 8px;
        display: inline-block;
    }

    .login .content .form-actions .btn {
        margin-top: 1px;
    }

    .login .content .forget-password {
        margin-top: 25px;
    }

    .login .content .create-account {
        border-top: 1px dotted #eee;
        padding-top: 10px;
        margin-top: 15px;
    }

    .login .content .create-account a {
        display: inline-block;
        margin-top: 5px;
    }

    /* select2 dropdowns */
    .login .content .select2-container {
        border-left: 2px solid #44B6AE !important;
    }

    .login .content .select2-container .select2-choice {
        border-left: none !important;
    }

    .login .content .select2-container i {
        display: inline-block;
        position: relative;
        color: #ccc;
        z-index: 1;
        top: 1px;
        margin: 4px 4px 0px -1px;
        width: 16px;
        height: 16px;
        font-size: 16px;
        text-align: center;
    }

    .login .content .has-error .select2-container i {
        color: #b94a48;
    }

    .login .content .select2-container a span {
        font-size: 13px;
    }

    .login .content .select2-container a span img {
        margin-left: 4px;
    }

    /* footer copyright */
    .login .copyright {
        text-align: center;
        margin: 0 auto;
        padding: 10px;
        color: #999;
        font-size: 13px;
    }

    @media (max-width: 480px) {
        /***
        Login page
        ***/
        .login .logo {
            margin-top: 10px;
        }

        .login .content {
            width: 280px;
        }

        .login .content h3 {
            font-size: 22px;
        }

        .login .checkbox {
            font-size: 13px;
        }
    }
</style>

<script>
    export default {
        layout: 'empty',
        data() {
            return {
                isWarning: false,
                isSuccess: false,
                isError: false,
                User: {},
                ShowForgotPasswordForm: false,
                responseTest:{}
            }
        },

        methods: {
            Login() {

                this.isError = false
                this.isWarning = true
                this.responseTest = {
                    token : 123456789,
                    email: this.User.email,
                    status: true,
                    id:1,
                    message:"Authorised",
                    user_group_id:1,
                    permissions:[
                        {id: 1, user_group_id: 1, route: "users", is_permission: 1},
                        {id: 2, user_group_id: 1, route: "users/list", is_permission: 1},
                        {id: 3, user_group_id: 1, route: "users/add", is_permission: 1},
                        {id: 4, user_group_id: 1, route: "users/edit", is_permission: 1},
                        {id: 5, user_group_id: 1, route: "users/view", is_permission: 1},
                        {id: 6, user_group_id: 1, route: "user_groups/list", is_permission: 1},
                        {id: 7, user_group_id: 1, route: "user_groups/add", is_permission: 1},
                        {id: 8, user_group_id: 1, route: "user_groups/edit", is_permission: 1},
                        {id: 9, user_group_id: 1, route: "user_groups/view", is_permission: 1},
                        {id: 10, user_group_id: 1, route: "user_groups/delete", is_permission: 1},
                        {id: 11, user_group_id: 1, route: "resources/list", is_permission: 1},
                        {id: 12, user_group_id: 1, route: "resources/add", is_permission: 1},
                        {id: 13, user_group_id: 1, route: "resources/edit", is_permission: 1},
                        {id: 14, user_group_id: 1, route: "resources/view", is_permission: 1},
                        {id: 27, user_group_id: 1, route: "locations", is_permission: 1},
                        {id: 28, user_group_id: 1, route: "states/list", is_permission: 1},
                        {id: 29, user_group_id: 1, route: "states/add", is_permission: 1},
                        {id: 30, user_group_id: 1, route: "states/edit", is_permission: 1},
                        {id: 31, user_group_id: 1, route: "cities/list", is_permission: 1},
                        {id: 32, user_group_id: 1, route: "cities/add", is_permission: 1},
                        {id: 33, user_group_id: 1, route: "cities/edit", is_permission: 1}
                    ]
                }
                console.log(this.User)
                if(this.User.email == 'admin@gmail.com' && this.User.password=='123456'){
                    this.isSuccess = true
                    this.$store.commit('SetIdentity', this.responseTest)
                    this.$router.push('/')
                }else{
                    this.isError = true
                }

                /*$.ajax({
                    type: 'POST',
                    async: true,
                    url: this.$Helpers.ApiBaseUrl() + 'login',
                    data: this.User,
                    success: (response, textStatus, jqXHR) => {
                        this.isWarning = false
                        if (response.status == true) {
                            this.isSuccess = true
                            this.$store.commit('SetIdentity', response)
                            this.$router.push('/')
                        } else {
                            this.isError = true
                        }
                    },
                    error: (jqXHR, textStatus, errorThrown) => {
                    }
                });*/

            }
        }
    }

</script>
