<template>
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption">
                        <span class="caption-subject font-gray sbold uppercase"><i class="icon-address"></i> Recruiters</span>
                    </div>
                </div>
                <div class="portlet-body">
                    <v-client-table :data="dataTableObj.TableData" :columns="dataTableObj.Columns"
                                    :options="dataTableObj.Options">
                        <template slot="username" slot-scope="props">
                            {{props.row.user.username}}
                        </template>
                        <template slot="email" slot-scope="props">
                            {{props.row.user.email}}
                        </template>
                        <template slot="action" slot-scope="props">
                            <a class="btn btn-xs green" title="View" data-toggle="tooltip" @click="ViewRecruiter(props.row.id)">
                                <i class="fa fa-eye"></i>
                            </a>
                        </template>
                    </v-client-table>
                </div>
            </div>
        </div>

        <modal :pModal="viewModal">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">Recruiters</h3>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="form-group col-md-4">
                        <label>Username</label><br>
                        {{recruiters.username}}
                    </div>
                    <div class="form-group col-md-4">
                        <label>Full Name</label><br>
                        {{recruiters.first_name}} {{recruiters.last_name}}
                    </div>
                    <div class="form-group col-md-4">
                        <label>Email</label><br>
                        {{recruiters.email}}
                    </div>
                    <div class="form-group col-md-4">
                        <label>Company Name</label><br>
                        {{recruiters.company_name}}
                    </div>
                    <div class="form-group col-md-4">
                        <label>Company Website</label><br>
                        {{recruiters.company_website}}
                    </div>
                    <div class="form-group col-md-4">
                        <label>position</label><br>
                        {{recruiters.position}}
                    </div>
                </div>
            </div>
        </modal>
    </div>
</template>
<script>
    export default{
        layout(ctx){
            return 'default'
        },
        middleware:'authenticated',
        mounted()
        {
            this.LoadRecruiters()
        },
        data()
        {
            return{
                share_modals:0,
                loading: false,
                dataStyle: 'expand-left',
                progress: 0,
                modal:{
                    show:false,
                    title:'',
                    size:'sm'
                },
                viewModal:{
                    show:false,
                    title:'',
                    size:'sm'
                },
                recruiters:{},
                dataTableObj:{
                    Columns:['id','username','email','company_name','company_website','position','action'],
                    TableData:[],
                    Options:{
                        headings:{
                            id:'Id',
                            username:'Username',
                            email:'Email',
                            company_name:'Company Name',
                            company_website:'Company Website',
                            position:'Position',
                            action:'Action'
                        },
                        columnsClasses: {
                            Action: 'tbl-action size-30'
                        },
                        sortable: ['id','username', 'company_name']
                    }
                }
            }
        },
        methods:{
            LoadRecruiters()
            {
                this.$Helpers.Get('recruiters', {}, {}).then((response) => {
                    this.dataTableObj.TableData = response
            })
            },
            ViewRecruiter(id)
            {
                this.$Helpers.Get('recruiters/'+id, {}, {}).then((response) => {
                    console.log(response);
                this.recruiters.username=response.user.username
                this.recruiters.email=response.user.email
                this.recruiters.first_name=response.user.first_name
                this.recruiters.last_name=response.user.last_name
                this.recruiters.company_name=response.company_name
                this.recruiters.company_website=response.company_website
                this.recruiters.position=response.position

                this.viewModal={
                    show:true,
                    title:'Recruiters',
                    size:'lg'
                }
            })
            }
        }
    }
</script>